:root {
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #FFFFFF;
  background-color: #525151;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0;
}

p, h3, h4{
  margin: 0;
}

button{
  background-color: #D9D9D9;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.topnav {
  overflow: hidden;
  background-color: #454545;
  border-bottom: #5e5c5c 1px solid;
}

.topnav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.content{
  margin: 15px;
}

/*
  for index.html
*/

.leftpanel{
  padding: 10px;
  position: fixed;
  height: 100%;
  width: 130px;
  background-color: #454545;
  overflow-x: hidden;
  transition: 0.5s;
  border-right: #5e5c5c 1px solid;
  display: inline-block;
}

.codepanel{
  position: fixed;
  left: 150px;
  width: 100%;
  height: 100%;
  background-color: #303030;
  padding: 5px;
  cursor: text;
}

/*
  for drone.html
*/

.camera-panel{
  width: 100%;
  height: 430px;
}

.camera{
  width: 700px;
  height: 400px;
  background-color: #ddd;
  color: black;
  margin: auto;
  text-align: center;
}

.control-panel{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.panel-item{
  text-align: center;
}

.action-button{
  width: 150px;
  height: 45px;
  font-size: large;
  margin-top: 50px;
}

#takeoff-but:hover{
  background-color: green;
  transition-duration: 0.2s;
}

#land-but:hover{
  background-color: red;
  transition-duration: 0.2s;
}

#raw-control{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 80px;
  justify-content: center;
  margin: auto;
}

.control-but{
  background-color: #D9D9D9;
  margin: 5px;
  color: black;
  border-radius: 2px;
  padding: 5px 10px;
  cursor: pointer;
}

.unselectable{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.control-but:hover{
  background-color: #303030;
  color: white;
  transition-duration: 0.2s;
}


#text-left{
  border-bottom: 1px solid white;
  margin-bottom: 5px;
}


#text-right{
  border-bottom: 1px solid white;
  margin-bottom: 5px;
}

#bot-circle {
  height: 120px;
  width: 120px;
  background-color: #D9D9D9;
  border-radius: 50%;
  display: inline-block;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#stat-circle{
  z-index: 1;
  height: 50px;
  width: 50px;
  position: absolute;
  border-radius: 50%;
  background-color: #303030;
  margin-top: 35px;
}

#top-circle{
  z-index: 2;
  height: 70px;
  width: 70px;
  position: absolute;
  border-radius: 50%;
  background-color: #303030;
  cursor: pointer;
}

#drone-connection{
  background-color: #303030;
  border-radius: 5px;
  padding: 15px;
}

.settings-button{
  padding: 5px;
  border-radius: 5px;
  margin-top: 20px;
}

.settings-button:hover{
  background-color: #454545;
  color: white;
  transition-duration: 0.5s;
}

.marker{
  width: 20px;
  height: 20px;
  float: right;
  border-radius: 15px;
}

#marker-red{
  background-color: red;
}

#marker-green{
  background-color: green;
}

#popup{
  z-index: 3;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #5e5c5c;
  border-radius: 5px;
  padding: 7px;
  visibility: hidden;
}

#close{
  background-color: #454545;
  padding: 3px;
  color: #858585;
  border-radius: 5px;
  margin: 5px;
  margin-left: 15px;
  cursor: pointer;
}

.marker-mod{
  width: 10px;
  height: 10px;
  float: right;
  border-radius: 15px;
  float: left;
  margin: 12px;
}

#code-marker {
  position: absolute;
  width: 2px; /* Adjust the width of the cursor as needed */
  height: 16px;
  background-color: white; /* Set the color of the cursor */
  animation: cursor-blink 0.8s infinite; /* Add a blinking animation */
}

@keyframes cursor-blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.indent{
  margin-right: 10px;
}

.proj-button{
  padding: 5px 5px;
  margin-top: 10px;
}

.proj-button:hover{
  background-color: #303030;
  color: #FFFFFF;
}

.proj-logo{
  margin-right: 5px;
}

.switch-button{
  border-radius: 0;
  background-color: #454545;
  color: white;
  border: 1px solid #303030;
  padding: 5px;
}

.switch-active{
  background-color: #303030;
}

/*
  Flyblock editor styles
*/

.codepanel-block{
  position: fixed;
  left: 150px;
  width: 100%;
  height: 100%;
  background-color: #D9D9D9;
  padding: 5px;
}

.rightpanel{
  padding: 10px;
  position: fixed;
  height: 100%;
  width: 130px;
  background-color: #454545;
  overflow-x: hidden;
  transition: 0.5s;
  border-right: #5e5c5c 1px solid;
  display: inline-block;
  right: 0px;
}

#block-list{
  background-color: #303030;
  width: 120px;
  height: 300px;
  margin-top: 10px;
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 5;
}

.block{
  padding: 5px;
  text-align: center;
  border: 1px solid white;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 8;
}